[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/GLFW"]
	path = ThirdParty/GLFW
	url = https://github.com/NullSquad-RichardFox/GLFW
[submodule "ThirdParty/msdf-atlas-gen"]
	path = ThirdParty/msdf-atlas-gen
	url = https://github.com/NullSquad-RichardFox/msdf-atlas-gen
[submodule "ThirdParty/ImGui"]
	path = ThirdParty/ImGui
	url = https://github.com/NullSquad-RichardFox/ImGui/
	branch = docking
