[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/GLFW"]
	path = ThirdParty/GLFW
	url = https://github.com/NullSquad-RichardFox/GLFW
